@import "tailwindcss";

@layer base {
  html, body {
    @apply min-h-screen transition-colors duration-300;
  }

  body {
    @apply bg-white text-black;
  }

  .dark body {
    @apply bg-zinc-950 text-orange-400;
  }
}